<div class="spinner-border" *ngIf="loading">
  <span class="sr-only">Looking.... Please wait for a moment</span>
</div>
<div *ngIf="!loading">
  <app-added-item
    *ngFor="let register of registers"
    [register] = 'register'
  ></app-added-item>
</div>

