<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{register.firstName}}</h5>
        <h5 class="card-title">{{register.lastName}}</h5>
        <h5 class="card-title">{{register.sureName}}</h5>
        <p class="card-text">{{register.gender}}</p>
        <p class="card-text">{{register.placeOfStudy}}</p>
        <p class="card-text">{{register.size}}</p>
        <p class="card-text">{{register.phoneNumber}}</p>
        <p class="card-text">{{register.comment}}</p>
        <button
          type="submit"
          class="btn btn-danger"
          (click)="onDeleteRegister(register.id)"
        >
          <span
            *ngIf="!isRemoving"
          >Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>
