<div class="container-fluid">
  <div class="row mt-3 ml-2">
    <h3>Please fill registration form</h3>
  </div>
  <div class="row mt-3 ml-5">
    <form (ngSubmit)="onSubmit()" #f="ngForm">

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="form-control"
          ngModel
          required
          appName
          #firstNameInput="ngModel"
        />
        <small
          *ngIf="firstNameInput.touched && firstNameInput.errors?.required"
          class="form-text invalid-form-text">
          Name field is required
        </small>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          class="form-control"
          ngModel
          required
          appName
          #lastNameInput="ngModel"
        />
        <small
          *ngIf="lastNameInput.touched && lastNameInput.errors?.required"
          class="form-text invalid-form-text">
          Last name should be entered
        </small>
      </div>

      <div class="form-group">
        <label for="sureName">Surname</label>
        <input
          type="text"
          name="sureName"
          id="sureName"
          class="form-control"
          ngModel
          required
          appName
          #sureNameInput="ngModel"
        />
        <small
          *ngIf="sureNameInput.touched && sureNameInput.errors?.required"
          class="form-text invalid-form-text">
          Surname should be entered
        </small>
      </div>

      <div class="form-group">
        <label for="size">T-shirt size</label>
        <select
          name="size"
          id="size"
          class="form-control"
          #sizeInput="ngModel"
          required
          ngModel
        >
          <option value="s">Small</option>
          <option value="m">Middle</option>
          <option value="l">Large</option>
          <option value="xl">Extra large</option>
        </select>
        <small
          *ngIf="sizeInput.touched && sizeInput.errors?.required"
          class="form-text invalid-form-text">
          Please choose on of the shown fields
        </small>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input
          type="text"
          name="phoneNumber"
          id="phoneNumber"
          class="form-control"
          ngModel
          required
          appNumber
          placeholder="996 xxx XXX - YYY"
          #phoneNumberInput="ngModel"
        />
        <small
          *ngIf="phoneNumberInput.touched && phoneNumberInput.errors?.required"
          class="form-text invalid-form-text">
          Phone number should be entered
        </small>
        <small
          *ngIf="phoneNumberInput.touched && phoneNumberInput.errors?.phoneNumber"
          class="form-text invalid-form-text">
          Please enter valid phone number
        </small>
      </div>

      <div class="form-group">
        <label for="placeOfStudy">Place of study</label>
        <input
          type="text"
          name="placeOfStudy"
          id="placeOfStudy"
          class="form-control"
          ngModel
          required
          #placeOfStudyInput="ngModel"
        />
        <small
          *ngIf="placeOfStudyInput.touched && placeOfStudyInput.errors?.required"
          class="form-text invalid-form-text">
          You need enter where you are stydying
        </small>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="maleGender"
            value="male"
            name="gender"
            ngModel
            required
            #genderInput="ngModel"
          />
          <label for="maleGender" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="femaleGender"
            value="female"
            name="gender"
            ngModel
            #genderInput="ngModel"
          />
          <label for="femaleGender" class="form-check-label">Male</label>
        </div>
        <small
          *ngIf="genderInput.touched && genderInput.errors?.minlength"
          class="form-text invalid-form-text">
          This field should be choosen
        </small>
      </div>

      <div class="form-group">
        <label class="mb-2" for="comment"></label>
        <textarea
          name="comment"
          id="comment"
          cols="30"
          maxlength="300"
          ngModel
          placeholder="Leave a comment"
          required
          #commentInput="ngModel"
        >Leave a comment</textarea>
      </div>

      <button
        class="btn btn-primary"
        [disabled]="f.invalid"
        routerLink="/thanx"
      >
        Register
      </button>
    </form>
  </div>
</div>
